ul
  list-style: none

header
  height: 300px
  background: linear-gradient(305deg, #5c1bb1d7, transparent)
  color: #95da2d9e
  padding: 15px 30px
  background: url("https://images.unsplash.com/photo-1513475382585-d06e58bcb0e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cmVhZGluZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60")
  background: cover
  flex-direction: row
  >div
    width: 100%
    max-width: 1250px
    margin: auto
    display: flex
    flex-direction: column-reverse
    justify-content: space-between
  .title
    width: 50%
    font-size: 20px
    text-transform: uppercase
    color: #474d2ad7
  .topNav
    display: flex
    justify-content: space-between
    align-content: center
    ul
      
      display: flex
      text-decoration: none
      list-style: none
      gap: 15px
      li
        font-weight: 600
        font-size: 20px

footer
  background-color: #453b3b
  color: #200c0c
  padding: 10px
  text-align: center
  background: url('https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTl8fGJvb2tzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60')
  background-size: cover

main
  width: 100%
  max-width: 100%
  margin: auto
  padding: 80px 30px
  min-height: 100%
  background: url('https://images.unsplash.com/photo-1579547116322-25caa6d089bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzV8fGJsdXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60')
  background-size: cover 

.home_books
  color: #a7a227d7
  display: flex
  flex-direction: column
  gap: 50px
  .image
    width: 30%
  .card
    display: flex
    flex-direction: row
    gap: 25px
    justify-content: center
    align-content: center
    align-items: center
    &:nth-child(even)
      direction: rtl
    .content
      width: 30%
      
.home_body
  color: #e9c6c2d7
  display: flex
  flex-direction: column
  gap: 70px

  .image
    width: 30%
  .card
    display: flex
    flex-direction: column
    gap: 25px
    justify-content: center
    align-content: center
    align-items: center
    &:nth-child(even)
      direction: rtl
    .content
      width: 50%

.about_us_list
  display: flex
  flex-direction: column


.events_page
  display: flex
  flex-direction: column
  gap: 30px

  .card
    position: relative
    h2
      position: absolute
      width: 100%
      top: 50%
      text-align: center
      font-size: 18px
      color: white
      text-transform: uppercase
      text-shadow: 1px 1px 20px black

.cat_events
  width: 100%
  .content
    display: flex
    flex-direction: row
    flex-wrap: wrap
    gap: 40px
    width: 100%
    justify-content: flex-start
    .card
      display: flex
      flex-direction: column
      width: 30%

.event_single_page
  display: flex
  flex-direction: row
  gap: 30px
  .email_registration
    margin-top: 25px
    label
      display: flex
      margin-bottom: 15px
      font-size: 18px
      font-weight: 800
      text-transform: uppercase
      margin-top: 25px
    input
      height: 40px
      min-width: 350px
      box-shadow: none
      border-radius: 5px
      border: 1px solid #ccc
      font-size: 16px
    button
      border-radius: 5px
      height: 40px
      min-width: 150px
      border: 1px solid #5f5a5a
      font-size: 16px
      text-transform: uppercase
      margin-left: 10px
      font-weight: 600
      background: #dcfff3
      cursor: pointer
      &:hover
        color: #dcfff3
        background: #333
